/*Display Grid Section*/
.display-container {
    display: grid;
    grid-template-columns: [col] 25% [col2] auto [col3] 25%;
    grid-template-rows   : [row] auto [row2] auto
}

.display-header {
    background-color: rgba(50,50,150,1);
    border          : green;
    border-width    : 10px;
    border-style    : solid;
    grid-column     : col / span 3;
    grid-row        : row;
}

.display-left {
    background-color: aquamarine;
    border          : brown;
    border-width    : 10px;
    border-style    : solid;
    grid-column     : col;
    grid-row        : row2;
}

.display-center {
    background-color: rgba(50,50,150,1);
    border          : blueviolet;
    border-width    : 10px;
    border-style    : solid;
    align-content   : center;
    grid-column     : col2;
    grid-row        : row2;
}

.display-right {
    background-color: rgba(50,50,150,1);
    border          : brown;
    border-width    : 10px;
    border-style    : solid;
    grid-column     : col3;
    grid-row        : row2;
}

/*Display Header*/
.game-title {
    background-color: midnightblue;/*rgba(238,238,238,.6);*/
    text-align      : center;
    width           : 900px;
    padding         : 10px;
    border-radius   : 10px;
    color           : white;
    font-size       : 24px;
    font-weight     : bold;
}

.score-container {
    background-color: midnightblue;/*rgba(238,238,238,.6);*/
    text-align      : center;
    width           : 900px;
    padding         : 10px;
    border-radius   : 10px;
    color           : white;
    font-size       : 24px;
    font-weight     : bold;
}

/*Display Left Components*/
.shop-button {
    background-color: #b5b5b5;
    transition      : all .2s ease-in-out;
    border-radius   : 10px;
    width           : 100%;
    margin          : 10px 0 10px 0;
}

.shop-button:hover {
    background-color: #c7c7c7;
    transition      : all .2s ease-in-out;
}

.shop-button #image {
    width: 25%;
}

.shop-button img {
    height: 64px;
    width : 64px;
}

.shop-button #nameAndCost p {
    margin: 0;
    width : 60%;
}

.shop-button #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shop-button #amount {
    font-size  : 48px;
    color      : #595959;
    font-family: roboto,serif;
    width      : 15%;
}

#upgrade-container img {
    height: 64px;
    width : 64px;
}

#achievement-container img {
    height: 64px;
    width : 64px;
}

/*Center Display Section*/
.center-grid {
    display              : grid;
    grid-template-columns: [col]auto;
    grid-template-rows   : [clicker]80% [footer]20%;
    justify-items        : center;
    border               : magenta;
    border-width         : 10px;
    border-style         : solid;
}

#clicker {
    background-image: url("./images/dorver/dorver-idle0.png");
    background-size : contain;
    position        : relative;
    transition      : all .2s ease-in-out;
    width           : 400px;
    height          : 318px;
    margin-top      : 150px;
    margin-left     : 125px;
}

#clicker:hover  {
    transform: scale(1.20);
}

#clicker:active {
    transform: scale(0.90);
}

#clicker > .number {
    z-index  : 99;
    font-size: 24px;
    color    : white;
    position : absolute;
}

.clicker-container {
    background-color   : rgba(50,50,238,1);
    background-image   : url("images/terrain/craggyMountain_background_01.svg");
    background-size    : 400px 480px;
    background-position: center;
    text-align         : center;
    width              : 600px;
    height             : 450px;
    padding            : 10px
}

.section-footer {
    background-color: midnightblue;
    width           : 350px;
    text-align      : center;
    color           : white;
    font-size       : 40px;
    font-weight     : bold;
    border-radius   : 10px;
    border          : blueviolet;
    border-width    : 10px;
    border-style    : solid;
}

/*Right section menu switching grids of upgrades and achievements*/
#menu-container {
    display              : grid;
    grid-template-columns: [col]auto [col2]auto [col3]auto [col4]auto;
    grid-template-rows   : auto;
    justify-items        : center;
    border               : magenta;
    border-width         : 10px;
    border-style         : solid;
}

.menu-container > .tab {
    background-color       : #b5b5b5;
    transition             : all .2s ease-in-out;
    width                  : 100%;
    margin                 : 10px 0 10px 0;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align             : center;
    justify-items          : center;
}

.menu-container:hover {
    background-color: #c7c7c7;
    transition      : all .2s ease-in-out;
}

.menu-container .image {
    width: 50%;
    height: 64px;
    width : 64px;
}

.menu-container img {
    height: 64px;
    width : 64px;
}













/*Generic Selectors*/
.center-container {
    display              : grid;
    grid-template-columns: auto;
    grid-template-rows   : auto auto;
    grid-gap: 25px;
    justify-items        : center;
    border               : white;
    border-width         : 10px;
    border-style         : solid;
}

.center-container-red{
    display              : grid;
    grid-template-columns: auto;
    justify-items        : center;
    border               : red;
    border-width         : 10px;
    border-style         : solid;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*examples of things...*/
/*.vertical-center {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/

/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: 100px 100px 100px;*/
/*    grid-template-rows: auto;*/

/*    box-sizing: border-box;*/
/*    width: 400px;*/
/*    height: 200px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/

/*    background: rgba(114, 186, 94, 0.05);*/
/*    border: 2px dashed rgba(114, 186, 94, 0.35);*/

/*    justify-content: space-evenly;*/
/*    justify-items  : center;*/
/*    align-content  : space-evenly;*/
/*    align-items    : center;*/
/*}*/